@font-face{
	font-family: Kaushan Script;
	src = url(../fuentes/Kaushan_Script/KaushanScript-Regular.ttf);
}
@font-face{
	font-family: Vollkorn;
	src = url(../fuentes/Vollkorn/Vollkorn-Italic.ttf);
}
@font-face{
	font-family: Tangerine;
	src = url(../fuentes/Tangerine/Tangerine_Regular.ttf)
}