@media screen and (max-width: 1150px) and (min-width: 801px){
	body{
		padding-top: 80px;
	}
	.menu480{
		background: #E6344a;
		display: block;
		position: fixed;
		width: 100%;
		top: 0;
	}
	.menu480 .bt-menu480{
		color: #fff;
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		overflow: hidden;
		padding: .5em;
		text-decoration: none;
	}
	.menu480 .bt-menu480 span{
		font-size: 2em;
	}
	.menu480 #menuboton{
		display: block;
		float: left;
	}
	.menu480 #menutitulo{
		color: #fff;
		display: block;
		float: left;
		padding: 1em;
	}
	nav#menu{
		width: 40%;
		height: calc(100% - 60px);
		position: fixed;
		left: -100%;
		margin: 0;
		margin-top: -6px;
		overflow: scroll;
	}
	nav#menu ul#menu_navegacion{
		width: 100%;
	}
	nav#menu ul#menu_navegacion #oculto img{
		width: 100%;
	}
	nav#menu ul#menu_navegacion .item{
		display: block;
		/*border-bottom: 1px solid rgba(255, 255, 255, .5);*/
	}
	nav#menu ul#menu_navegacion .item:hover{
		background: #E6344A;
	}
	nav#menu ul#menu_navegacion .item .a{
		display: block;
	}

	nav#menu #logo, nav#menu #titulo,
	section#portada, section#contenedoropinion{
		display: none;
	}
	.contenedor .titulo h2{
		display: block;
		width: 100%;
	}
	.titulo hgroup{
		color: #607D8B;
		padding: 0;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.contenedor{
		display: block;
		height: auto;
		width: 100%;
	}
	.imagen_servicios{
		float: left;
		width: 25%;
	}
	#cama, #baños, #cocina, #lavadora{
		margin: 1em auto;
	}
	.imagen_ninera{
		float: left;
		width: 33%;
	}
	#tiposervicios{
		margin-top: 80px;
	}
	#cuidadora, #desarrollo{
		padding: 0;
		width: 100%;
	}
	#cuidadora img{
		margin-left: 62.344px;
	}
	#desarrollo img{
		margin-left: 22.844px;
	}
	#canguro{
		margin-top: 4em;
		width: 25%;
	}
	#cuadromsn{
		margin-left: 2em;
		width: 60%;
	}
}